name: ci

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened
  merge_group:
    types: [checks_requested]
    branches:
      - develop

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  quality-check:
    if: github.repository_owner == 'awslabs'
    uses: ./.github/workflows/reusable_quality-check.yml
    with:
      env: pull_request_env
      ref: ${{ github.ref }}
      integ_test_role: ${{ secrets.CI_IAM_ROLE_ARN }}
    secrets: inherit
