name: ci

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
  merge_group:
    types: [ checks_requested ]
    branches:
      - develop

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    if: github.repository_owner == 'awslabs'
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.20'

      - name: Check out code
        uses: actions/checkout@v2

      - name: Run tests
        run: make test

  staticcheck:
    if: github.repository_owner == 'awslabs'
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.20'
  
      - name: Check out code
        uses: actions/checkout@v2
  
      - name: Generate Mocks
        run: make generate-mocks
  
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.51.2