name: Release Workflow

env:
  RELEASE_COMMIT: ${{ github.sha }}
  GO_VERSION: "1.20"

on:
  push:
    branches:
      - "develop"
    paths:
      - "python-client/src/aws_iatk/version.py"
  workflow_dispatch:

jobs:
  # This job get the version from the version file and exports it for subsequent jobs to use
  get-version:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      RELEASE_VERSION: ${{ steps.release_version.outputs.RELEASE_VERSION }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11  # v4.1.1
        with:
          ref: ${{ env.RELEASE_COMMIT }}

      - name: Export release version
        id: release_version
        run: |
          RELEASE_VERSION=$(awk -F '"' '/_version = /{print $2}' python-client/src/aws_iatk/version.py)
          echo $RELEASE_VERSION
          echo "RELEASE_VERSION=${RELEASE_VERSION}" >> "$GITHUB_OUTPUT"

  # This job validates if a tag of the release version has already been created
  validate-tag:
    needs: [get-version]
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11  # v4.1.1
        with:
          ref: ${{ env.RELEASE_COMMIT }}
          fetch-depth: 0

      - name: check version tag
        run: |
          if [ $(git tag --list "v${{ needs.get-version.outputs.RELEASE_VERSION }}") ]
          then
            echo "Tag v${{ needs.get-version.outputs.RELEASE_VERSION }} already exists. Exiting."
            exit 1
          fi

  # This job runs tests and linting before building artifacts
  quality-check:
    needs: [validate-tag]
    uses: ./.github/workflows/reusable_quality-check.yml
    with:
      ref: ${{ github.sha }} # cannot use env
    secrets:
      CI_IAM_ROLE_ARN: ${{ secrets.CI_IAM_ROLE_ARN }}

  # This job builds python client artifacts and publishes them to PyPi
  # It returns the provenance information for subsequent jobs to use.
  release-python-client:
    needs: [get-version, quality-check]
    uses: ./.github/workflows/reusable_release-python-client.yml
    with:
      ref: ${{ github.sha }} # cannot use env
      release_version: ${{ needs.get-version.outputs.RELEASE_VERSION }}
      artifact_name: "python-client-artifacts"

  # This job creates a draft release on GitHub
  release-github:
    needs: [get-version, release-python-client]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11  # v4.1.1
        with:
          ref: ${{ env.RELEASE_COMMIT }}

      - name: Create release
        env:
          RELEASE_VERSION: ${{ needs.get-version.outputs.RELEASE_VERSION }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create v"${RELEASE_VERSION}" \
            --generate-notes \
            --title "Release version: v${RELEASE_VERSION}" \
            --target "${{ env.RELEASE_COMMIT }}" 

      - name: Upload provenance
        id: upload-provenance
        uses: ./.github/actions/upload-release-provenance
        with:
          release_version: ${{ needs.get-version.outputs.RELEASE_VERSION }}
          provenance_name: ${{ needs.release-python-client.outputs.provenance_name }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
